<p>
    Each stroke of the hoe was to uncover some aromatic root of wisdom,<br />
    heretofore hidden from the sun. Pausing in the field, to let the wind<br />
    exhale the moisture from our foreheads, we were to look upward, and catch<br />
    glimpses into the far-off soul of truth. In this point of view, matters<br />
    did not turn out quite so well as we anticipated.<br />
</p>
<hr>
<p><strong>Variables passed:</strong></p>
<p>name: {{name}}</p>
<p>email: {{email}}</p>