<!--#?main_title-->
    Localisation POC in french
<!--#?end-->

<!--#?main_content-->
    <p>
        La tribu prophétique aux prunelles ardentes<br />
        Hier s'est mise en route, emportant ses petits<br />
        Sur son dos, ou livrant à leurs fiers appétits<br />
        Le trésor toujours prêt des mamelles pendantes.<br />
        <br />
        Les hommes vont à pied sous leurs armes luisantes<br />
        Le long des chariots où les leurs sont blottis,<br />
        Promenant sur le ciel des yeux appesantis<br />
        Par le morne regret des chimères absentes.<br />
        <br />
        Du fond de son réduit sablonneux, le grillon,<br />
        Les regardant passer, redouble sa chanson ;<br />
        Cybèle, qui les aime, augmente ses verdures,<br />
        <br />
        Fait couler le rocher et fleurir le désert<br />
        Devant ces voyageurs, pour lesquels est ouvert<br />
        L'empire familier des ténèbres futures.<br />
    </p>
    <p><strong>Variables passed:</strong></p>
    <hr>
    <p>name: {{name}}</p>
    <p>email: {{email}}</p>
<!--#?end-->